*{
    padding: 0;
    margin: 0;
    font-family: "New Amsterdam", sans-serif;
    box-sizing: border-box;
    letter-spacing: 1.4px;
}

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #fcfafa;
    padding: 20px;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 5.6px;
    position:relative;
    z-index: 10;
    top: 0px;
}

.sidebar.collapsed {
    width: 50px;
    padding: 20px 10px;
    overflow: hidden;
    align-items: center;
}

.menu-header {
    width: 100%;
    height: auto;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar.collapsed .menuinvisible {
    display: none; /* Hide the "Menu" heading */
}
.sidebar.collapsed i{
    display: none;
}

.sidebar.collapsed .menu-toggle {
    position: absolute; /* Position the button absolutely within the sidebar */
    top: 20px; /* Adjust this value to align the button with where the "Menu" heading was */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%); /* Ensure the button is centered */
}
.sidebar input{
    margin: 25px 0;
}

.search-bar{
    width: 233.5px;
    border-radius: 5px;
    border: 1px solid rgb(226, 226, 226);
    padding: 6px 6px;
}


.menu-header.collapsed {
    align-items: center;
}


.menu-toggle {
    background: none;
    border: none;
    font-size: 18px;
    padding: 10px 0;
    padding-bottom: 12px;
    margin-bottom: 5%;
    cursor: pointer;
    align-self: center;
}

.search-bar, .menu-section, .tags {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.sidebar.collapsed .search-bar, .sidebar.collapsed .menu-section, .sidebar.collapsed .tags {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

.menu-section h3 {
    font-size: 18px;
    color: #888;
    margin-bottom: 10px;
    padding-top: 15px;
}
.menu-section .dena {
    font-size: 18px;
    color: #888;
    margin-bottom: 10px;
    padding-top: 12%;
}

.custom-hr {
    border: none;
    height: 1px;
    background-color: #b8beb9; /* Example color */
}


ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.badge {
    background-color: #ddd;
    color: #555;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 12px;
}

.list-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}


.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #aadb82;
    width: 70px;
    height: 27px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 15px;
}

.add-tag {
    background-color: #f1c6c6;
    border: 1px solid #ccc;
    padding: 4px 10px;
    border-radius: 4px;
    width: 100px;
    height: 27px;
    margin-top: -10.5px;
    cursor: pointer;
    font-size: 15px;
}

header{
    background-color: #faf2f2;
    position: sticky;
    z-index: 100;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
}
.list2{
    display: flex;
}
.list2 li{
    padding: 0 15px;
}

.menu-section .tlc{
    padding-top: 12%;
}
.menu-section .tlc{
    display: flex;
    align-items:center;
}
.menu-section .asidefooter{
    margin-top: 50%;
}
.menu-section .asidefooter li a{
    font-size: 17px;
}
.list2 li a,.list1 li a{
    font-size: 22px;
}


/* Greeting Section */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    padding: 15px 0;
    z-index: 1;
    position: relative;
}

.greeting-container {
    text-align: center;
}

#greeting {
    font-size: 36px;
    margin-bottom: 20px;
    animation: fadeIn 3s ease-in forwards;
}

.welcome-text {
    font-size: 18px;
    color: #555;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.tasks-section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    padding: 15px 0;
    position: relative;
    margin: 2% 0;
}
.tasks-section h1{
    font-size: 40px;
}

.tasks-section .add-task-container input{
    border: 1px solid rgb(235, 180, 180);
    margin-top: 2%;
    padding: 10px;
    width: 800px;
    font-size: 20px;
    margin-bottom: 4%;
}
.tasks-section .add-task-container input {
    color: #8b8a8a;
}
#add-task-btn{
    width: 46px;
    height: 46px;
    border: none;
    background-color: white;
}

#tasks-list .task-item {
    min-width: 400px;
    padding: 10px;
    background-color: #fff8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}
#tasks-list hr {
    border: none;
    height: 1px;
    background-color: #b8beb9;
    margin: 18px 0;
}
.positioning{
    width: 100%;
    display: flex;
}
.mainbody_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
}


/* Task Container */
.task-container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 10px;
}

/* Buttons Styling */
.delete-button, .status-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
}

.status-button {
    background-color: #f7f31e;
}

.delete-button {
    background-color: #ff7f7f;
    color: white;
}


footer{
    width: 100%;
    height: auto;
    background-color: rgb(241, 217, 217);
}

.ultrafoot{
    color: gray;
    width: 100%;
    display: grid;
    justify-items: center;
    text-decoration: overline;
    padding: 1%;
}





@media all and (max-width: 600px) {
    .sidebar {
        width: 170px;
    }

    .sidebar.collapsed {
        width: 45px;
    }

    .mainbody_section {
        width: 100%;
    }

    .search-bar {
        width: 100px;
    }

    .tasks-section .add-task-container input {
        width: 200px;
        height: 25px;
        font-size: 14px;
    }

    #greeting {
        font-size: 21px;
    }

    .tasks-section h1 {
        font-size: 23px;
    }

    .task-item {
        min-width: auto;
        font-size: 16px;
    }
    .welcome-text {
        font-size: 12px;
    }
    .list1 li a, .list2 li a{
        font-size: 16px;
    }
    .menuinvisible{
        font-size: 21px;
    }
    .menu-section ul li{
        font-size: 12px;
    }
    .menu-section .asidefooter li a{
        font-size: 13px;
    }
    .menu-section h3{
        font-size: 14px;
    }
    .menu-section .dena{
        font-size: 14px;
    }
    #tasks-list .task-item {
        min-width: 170px;
        padding: 5px;
        background-color: #fff8f8;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 6px;
        font-size: 15px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
    }
    .list2 li{
        padding: 0 6px;
    }
    .positioning{
        position: relative;
    }
    .mainbody_section{
        position: absolute;
        padding-left: 11%;
    }
    .aside_section{
        position: relative;
    }
    .delete-button, .status-button {
        margin-left: 6px;
        margin-bottom: 4px;
        padding: 3px 5px;
        font-size: 11.5px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 4px;
        width: 63px;
    }
    .menu-section .tags .tag{
        font-size: 11px;
        width: 47px;
        height: 20px;
    }
    .menu-section .tags li .add-tag{
        padding: 0;
        font-size: 11px;
        width: 65px;
        height: 22px;
    }
    .menu-section .asidefooter{
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin-top: 62%;
    }
    .menu-section .asidefooter li{
        margin-top: 0;
        margin-bottom: 0;
        padding: 2px;
    }
    .menu-section .asidefooter li a{
        font-size: 11px;
    }
}


@media (min-width: 601px) and (max-width: 1004px) {
    .sidebar {
        width: 220px;
    }

    .sidebar.collapsed {
        width: 60px;
    }

    .tasks-section .add-task-container input {
        width: 450px;
        height: auto;
    }

    .search-bar {
        width: 150px;
    }

    #greeting {
        font-size: 29px;
    }

    .tasks-section h1 {
        font-size: 28px;
    }

    .task-item {
        min-width: auto;
        font-size: 18px;
    }
    .welcome-text {
        font-size: 14px;
    }
    .list1 li a, .list2 li a{
        font-size: 19px;
    }
    .menuinvisible{
        font-size: 23px;
    }
    .menu-section ul li{
        font-size: 13px;
    }
    .menu-section .asidefooter li a{
        font-size: 14px;
    }
    .menu-section h3{
        font-size: 16px;
    }
    .menu-section .dena{
        font-size: 16px;
    }
    #tasks-list .task-item {
        min-width: 300px;
        padding: 8px;
        background-color: #fff8f8;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 8px;
        font-size: 18px;
    }
}


@media (min-width: 1005px) and (max-width: 1200px) {
    .sidebar {
        width: 235px;
    }

    .sidebar.collapsed {
        width: 70px;
    }

    .tasks-section .add-task-container input {
        width: 600px;
        height: auto;
    }

    .search-bar {
        width: 165px;
    }

    #greeting {
        font-size: 33px;
    }

    .tasks-section h1 {
        font-size: 32px;
    }

    .task-item {
        min-width: auto;
        font-size: 20px;
    }
    .welcome-text {
        font-size: 16px;
    }
    .list1 li a, .list2 li a{
        font-size: 20px;
    }
    .menuinvisible{
        font-size: 25px;
    }
    .menu-section ul li{
        font-size: 14px;
    }
    .menu-section .asidefooter li a{
        font-size: 15px;
    }
    .menu-section h3{
        font-size: 17px;
    }
    .menu-section .dena{
        font-size: 17px;
    }
}



@media all and (max-width: 500px) {
    
    .ultrafoot{
        color: gray;
        width: 100%;
        height: auto;
        font-size: 9px;
        display: grid;
        justify-items: center;
        text-decoration: overline;
        padding: 1%;
    }
}



@media (min-width: 501px) and (max-width: 700px) {

    .ultrafoot{
        color: gray;
        width: 100%;
        height: auto;
        font-size: 12px;
        display: grid;
        justify-items: center;
        text-decoration: overline;
        padding: 1%;
    }

}